@font-face {
  font-family: 'UDデジタル教科書体NP-R';
  src: local('UDデジタル教科書体NP-R');
}

body {
    font-family: 'UDデジタル教科書体NP-R', Arial, sans-serif;
}

button {
    padding: 8px 12px;
    margin: 5px;
    cursor: pointer;
}
